                                                    /*Header start*/
header{
    background-color: #f4f4f4;
    padding-top: 45px;
    padding-bottom: 45px;
}
.container{
    width: 1170px;
}
.headerMenu{
    margin-left: -15px;
}

header li{
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.167;

}
.headerMenu a{
    color: black;
}
.search{
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);


}
.search:hover{
    background-color: #eceff5;
}
.tel{
    font-size: 18px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.444;
}
.mail a{
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(50, 99, 222);
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 2.167;
}
.headButton button{
    background-color: rgb(28, 130, 217);
    width: 172px;
    height: 47px;
    font-size: 13px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;

}
.headButton button:hover{
    cursor: pointer;
}
.inp_search{
    background-color: rgb(255, 255, 255);
    width: 539px;
    height: 38px;
    border-radius: 22px;
    outline: none;
    padding-left: 10px;

}

.search{
    top: 4px;
    right: 12px;
    position: absolute;

}
.cross_search{
    top: 9px;
    position: absolute;
    left: 282px;
}
.cross_search:hover{
    cursor: pointer;
}



                                                    /*Header end*/
                                                    /*Main start*/
.liders{
    background: url("../img/bgLid.png");
    padding-top: 140px;
    padding-bottom: 140px;





}
.lid{
    background-color: #f7fcfe;
    padding-top: 85px;
    padding-bottom: 120px;

}
.lidHead p{
    font-size: 26px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.462;
}
.lidText{
    font-size: 14px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    line-height: 1.857;
    padding-top: 45px;
}
.lidHead p{
    text-align: center;
}
.lidText p{
    text-align: center;
}
.lidUnit{
    padding-top: 70px;

}
.lidUnit:nth-child(even){
    padding-left: 230px;
}
.lidUnit:nth-child(odd){
   padding-right: 180px;

}
.lidUnit img{
    width: 30px;
    height: 32px;
}
.lidUnit p{
    font-size: 13px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.538;
    padding-left: 35px;

}
.products{
    background-color: #f4f4f4;
    padding-top: 100px;
    padding-bottom: 110px;
}
.product_unit{
    background-color: white;
    box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.06);
    width: 365px;
    height: 249px;
    margin-top: 30px;
    margin-right: 20px;
    text-align: center;
    padding-top: 60px;


}
.product_unit p{
    padding-top: 50px;
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
}


.p3{
    margin-right: 0;
}
.product_unit:hover {
    cursor: pointer;
    background-color: #3263de;
    color: white;
}
.product_unit:hover p{
color: white;
}
.product_unit:hover svg{
    fill: #23c9f3;
}
.about_unit{
    background-color: white;
    z-index: 100;
    padding: 45px 60px 45px 45px;
}
.about{
    padding-top: 85px;
}
.about_unit h4{
    font-size: 20px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.35;
}
.about_unit p{
    font-size: 14px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    line-height: 1.714;
}
.about_unit a{
    font-size: 13px;
    font-family: Montserrat;
    color: rgb(50, 99, 222);
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 2.077;
}
.news{
    background-color: #f4f4f4;
    z-index: 101;
}
#resizeSlider{
    float: none!important;
}
.card-img-overlay{
    margin-top: 252px;
    color: #f4f4f4;
}
.card{
    margin-top: 25px;

}
.date{
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(156, 165, 187);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.25;
}
.card_head{
    font-size: 18px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.5;
}
.card_head_min{
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.25;
}
.card-body p{
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    line-height: 1.667;
}
.card-img-overlay p{
    font-size: 13px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    line-height: 1.538;
}
.card-body:hover {
    background-color: #3263de;


}
.card-body:hover span{
    color: white;
}
.card-body:hover p{
    color: white;
}
.news{
    padding-top: 110px;
    padding-bottom: 75px;
}
.card_sait{
    padding-top: 50px;
}
.card_body_sait{
    padding-top: 94px;
}



                                                    /*Main end*/
                                                    /*Footer start*/
.footer_top a{
    color: white;
}
.footer_top{
    background-color: #2b2e33;
    padding-top: 40px;
    padding-bottom: 40px;
}
.footer-tel{
    color: white;
}
.footer-mail{
    color: #3263de!important;
}
.footer-addr{
    font-size: 13px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    line-height: 1.846;
}
.footer_bot{
    background-color: #f4f4f4;
    padding: 18px 0 18px 0;
}
.f_right{

    float: right;
}


                                                    /*Footer end*/
                                                    /*Catalogue Main Start*/

.catalogue{
    background: url("../img/cat_bg.png");
    padding-top: 75px;
    padding-bottom: 110px;
}
.breadcrumb{
    background:none;
    padding: 0;

}
.breadcrumb-item{
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    line-height: 3.417;

}
.page_name{
    font-size: 24px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.708;

}

.card-body{
    padding: 70px 60px 50px 60px;
}
.cat_first{
    font-family: Montserrat;
    font-size: 12px;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.667;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}




                                                    /*Catalogue Main End*/
                                                    /*Media start*/
@media (max-width: 1199px) {
        .headerMenu{
            margin-left: 0;

        }
    .product_unit{
        margin-right: 0;
        margin-left: 75px;
    }


    .headerContacts{
        text-align: center;
    }
    .headerMenu ul{
        padding-left: 70px;
    }
    .headerContacts{
        text-align: left;
    }
    .footer-addr{
        display: none;
    }

}
@media (max-width: 999px) {
    .lidUnit:nth-child(even){
        padding-left: 80px;
    }
    .lidUnit:nth-child(odd){
        padding-right: 80px;

    }
    .about_unit{
        padding: 10px 10px 10px 10px;
    }
    .card-body{
        padding:70px 40px 50px 40px;
    }
    
}                                                    
 @media (max-width: 992px) {
    .headerContacts{
        text-align: center;

    }
     .product_unit{
         margin-left: 180px;
     }
     .headerMenu ul{
         padding-left: 39px;
     }
 }
 @media (max-width: 775px) {
     .product_unit{
         margin-left: 74px;
     }
 }
 @media (max-width: 768px) {

     .headerMenu ul{
         padding-left: 100px;
     }
     .headerContacts{
         margin-left: 60px;
     }


 }
 @media (max-width: 575px) {
     .headerContacts{
         text-align: left;
         margin-left: 220px;
     }
     .headerMenu ul{
         padding-left: 0;

     }
     .headButton{
         margin-right: 574px;
     }
     .headerLogo{
         margin-left: 220px;
     }
 }                                                   







                                                    /*Media end*/