                                                    /*Header start*/
header{
    background-color: #f4f4f4;
    padding-top: 45px;
    padding-bottom: 45px;
}
.container{
    width: 1170px;
}
.headerMenu{
    margin-left: -15px;
}

header li{
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2.167;

}
.headerMenu a{
    color: black;
}
.search{
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.06);


}
.search:hover{
    background-color: #eceff5;
}
.tel{
    font-size: 18px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.444;
}
.mail a{
    font-size: 12px;
    font-family: Montserrat;
    color: rgb(50, 99, 222);
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 2.167;
}
.headButton button{
    background-color: rgb(28, 130, 217);
    width: 172px;
    height: 47px;
    font-size: 13px;
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 2;

}
.headButton button:hover{
    cursor: pointer;
}


                                                    /*Header end*/
                                                    /*Main start*/
.liders{
    background: url("../img/bgLid.png");
    padding-top: 140px;
    padding-bottom: 140px;





}
.lid{
    background-color: #f7fcfe;
    padding-top: 85px;
    padding-bottom: 120px;

}
.lidHead p{
    font-size: 26px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.462;
}
.lidText{
    font-size: 14px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    line-height: 1.857;
    padding-top: 45px;
}
.lidHead p{
    text-align: center;
}
.lidText p{
    text-align: center;
}
.lidUnit{
    padding-top: 70px;

}
.lidUnit:nth-child(even){
    padding-left: 230px;
}
.lidUnit:nth-child(odd){
   padding-right: 180px;

}
.lidUnit img{
    width: 30px;
    height: 32px;
}
.lidUnit p{
    font-size: 13px;
    font-family: Montserrat;
    color: rgb(0, 0, 0);
    font-weight: bold;
    line-height: 1.538;
    padding-left: 35px;

}




                                                    /*Main end*/
                                                    /*Media start*/
@media (max-width: 1199px) {
        .headerMenu{
            margin-left: 0;

        }

    .headerContacts{
        text-align: center;
    }
    .headerMenu ul{
        padding-left: 70px;
    }

}
@media (max-width: 999px) {
    .lidUnit:nth-child(even){
        padding-left: 80px;
    }
    .lidUnit:nth-child(odd){
        padding-right: 80px;

    }
    
}                                                    
 @media (max-width: 992px) {
    .headerContacts{
        text-align: center;

    }
     .headerMenu ul{
         padding-left: 39px;
     }
 }
 @media (max-width: 768px) {

     .headerMenu ul{
         padding-left: 100px;
     }
     .headerContacts{
         margin-left: 60px;
     }

 }
 @media (max-width: 575px) {
     .headerContacts{
         text-align: left;
         margin-left: 220px;
     }
     .headerMenu ul{
         padding-left: 0;

     }
     .headButton{
         margin-right: 574px;
     }
     .headerLogo{
         margin-left: 220px;
     }
 }                                                   







                                                    /*Media end*/